* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e4fde1ff;
  font-size: 16px;
  line-height: 1.6;
  background-color: #114b5fff;
  margin: 20px;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #e4fde1ff;
  text-decoration: none;
}
a:hover {
  color: #f45b69ff;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

.header {
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 3px dashed #028090ff;
}

.footer {
  padding-top: 10px;
  margin-top: 20px;
  text-align: center;
  border-top: 3px dashed #028090ff;
  font-size: smaller;
}

.nav-main {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 3px dashed #028090ff;
}

.nav-main button {
  color: rgb(15, 65, 82);
  background-color: #f45b69ff;
  font-size: 1.2em;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  width: 8rem;
  cursor: pointer;
  transition: border-color 0.3s;
}

.nav-main button:hover {
  border-color: #e4fde1ff;
}

.nav-main button:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.article-nav {
  display: flex;
  justify-content: space-around;
  font-size: 0.8em;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 3px dashed #028090ff;
}

.article-nav select {
  color: rgb(15, 65, 82);
  background-color: #f45b69ff;
  cursor: pointer;
  transition: border-color 0.3s;
}

.article-nav select:focus {
  outline: 4px auto #e4fde1ff;
}

.article-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.article-list-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.article-list-card {
  background-color: rgb(15, 65, 82);
  border: 1px dashed #f45b69ff;
  border-radius: 8px;
  text-align: left;
  padding: 10px;
  margin: 10px;
  width: 20em;
}

.article-list-card-image {
  display: flex;
  justify-content: center;
}

.article-list-card img {
  margin-top: 5px;
  max-width: 19em;
  border: 1px solid #028090ff;
  border-radius: 20px;
}

.page-select-1 {
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 10px;
}

.page-select-2 {
  text-align: center;
  font-size: 0.8em;
  padding-top: 10px;
}

.article-card {
  background-color: rgb(15, 65, 82);
  border: 1px dashed #f45b69ff;
  border-radius: 8px;
  text-align: left;
  padding: 10px;
  margin: 10px;
}

.article-card-image {
  display: flex;
  justify-content: center;
}

.article-card img {
  margin-top: 5px;
  min-width: 20em;
  max-height: 30em;
  max-width: 30em;
  border: 1px solid #028090ff;
  border-radius: 20px;
}

.article-text-title {
  font-size: 1em;
  font-weight: 600;
  margin: 5px;
}

#article-list-card-spacer {
  line-height: 2.4;
}

.article-text-author {
  font-size: 0.8em;
  font-style: italic;
}

.article-text-body {
  font-size: 0.9em;
}

.article-text-smol {
  font-size: 0.8em;
  background-color: #456990ff;
  border-radius: 10px;
  padding: 5px 7px;
}

.article-text-smol button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.comment-topic-add {
  position: relative;
  background-color: #028090ff;
  border: 1px dashed #e4fde1ff;
  border-radius: 8px;
  text-align: left;
  padding: 10px;
  margin: 10px;
}

.comment-topic-add h3 {
  margin-bottom: 20px;
  border-bottom: 3px dashed #e4fde1ff;
}

.comment-topic-form label {
  text-align: left;
}

.comment-topic-form input[type="text"] {
  font-size: 1em;
  padding: 10px;
  margin: 8px 0;
  width: 20em;
  box-sizing: border-box;
  border: 1px solid #114b5fff;
  border-radius: 10px;
  background-color: #e4fde1ff;
  color: #114b5fff;
}

.comment-topic-form input[type="text"]:focus {
  border: 1px dashed #f45b69ff;
}

.comment-topic-form textarea {
  font-size: 1em;
  padding: 10px;
  margin: 8px 0;
  width: 100%;
  height: 5em;
  box-sizing: border-box;
  border: 1px solid #114b5fff;
  border-radius: 10px;
  background-color: #e4fde1ff;
  color: #114b5fff;
  resize: none;
}

.comment-topic-form textarea:focus {
  border: 1px dashed #f45b69ff;
}



.comment-topic-form select {
  color: #114b5fff;
  background-color: #e4fde1ff;
  cursor: pointer;
  transition: border-color 0.3s;
  font-size: 1em;
  margin: 8px 0;
  height: 2.4em;
  width: 10em;
  box-sizing: border-box;
  border: 1px solid #114b5fff;
  border-radius: 10px;
}

.comment-topic-form select:focus {
  outline: 4px auto #e4fde1ff;
}





.comment-topic-form button {
  font-size: 1.3em;
  font-weight: 600;
  color: inherit;
  background-color: #456990ff;
  border: 1px solid #114b5fff;
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
}

.comment-topic-form button:hover,
.comment-topic-form button:focus {
  border: 1px solid #f45b69ff;
}

.article-text-smol-delete {
  font-size: 0.8em;
  background-color: #f45b69ff;
  border-radius: 10px;
  padding: 5px 7px;
}

.article-text-smol-delete button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.topic-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.topic-list-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.topic-card {
  background-color: #028090ff;
  border: 1px dashed #f45b69ff;
  border-radius: 8px;
  text-align: left;
  padding: 10px;
  margin: 10px;
  width: 20em;
}

.topic-card h3 {
  border-bottom: 1px solid #e4fde1ff;
  margin-bottom: 5px;
}

#add-topic {
  display: flex;
  justify-content: center;
}

#add-topic-button {
  color: #e4fde1ff;
  background-color: rgb(15, 65, 82);
  font-size: 1.2em;
  font-weight: 600;
  border: 2px solid #e4fde1ff;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  width: 20rem;
  cursor: pointer;
  transition: border-color 0.3s;
}

#add-topic button:hover {
  border-color: #f45b69ff;
}

#add-topic button:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.x-button {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  color: #e4fde1ff;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.user-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
}

.user-list-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-card {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(15, 65, 82);
  border: 1px dashed #f45b69ff;
  border-radius: 8px;
  text-align: left;
  padding: 10px;
  margin: 10px;
  width: 30em;
  height: 10em;
}

.user-card-text {
  border-right: 1px dashed #e4fde1ff;
  padding-top: 5px;
}

.user-card-text h2 {
  color: rgb(15, 65, 82);
  background-color: #f45b69ff;
  border: 1px solid transparent;
  border-radius: 8px;
  margin-right: 10px;
  padding-left: 5px;
}

.user-card-text p {
  border-radius: 8px;
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 5px;
}

.user-card-image {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}

.user-card img {
  margin-top: 5px;
  max-width: 100%;
  max-height: 8em;
  border: 1px solid transparent;
  border-radius: 20px;
}

.center-loader {
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #114b5fff #028090ff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #e4fde1ff #456990ff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #f45b69ff #e4fde1ff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
