* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e4fde1ff;
  font-size: 16px;
  line-height: 1.6;
  background-color: #114b5fff;
  margin: 20px;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #e4fde1ff;
  text-decoration: none;
}
a:hover {
  color: #f45b69ff;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

/* display: flex; */
/* place-items: center; */

.header {
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 3px dashed #028090ff;
}

.footer {
  padding-top: 10px;
  margin-top: 20px;
  text-align: center;
  border-top: 3px dashed #028090ff;
  font-size: smaller;
}

.nav-main {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 3px dashed #028090ff;
}

.nav-main button {
  color: rgb(15, 65, 82);
  background-color: #f45b69ff;
  font-size: 1.2em;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  width: 8rem;
  cursor: pointer;
  transition: border-color 0.3s;
}

.nav-main button:hover {
  border-color: #e4fde1ff;
}

.nav-main button:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.article-nav {
  display: flex;
  justify-content: space-around;
  font-size: 0.8em;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 3px dashed #028090ff;
}

.article-nav select {
  color: rgb(15, 65, 82);
  background-color: #f45b69ff;
  cursor: pointer;
  transition: border-color 0.3s;
}

.article-nav select:focus {
  outline: 4px auto #e4fde1ff;
}

.article-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.article-list-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.article-list-card {
  border: 1px dashed #f45b69ff;
  border-radius: 8px;
  text-align: left;
  padding: 10px;
  margin: 10px;
  width: 20em;
}

.article-list-card-image {
  display: flex;
  justify-content: center;
}

.article-list-card img {
  margin-top: 5px;
  max-width: 19em;
  border: 1px solid #028090ff;
  border-radius: 20px;
}

.page-select-1 {
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 10px;
}

.page-select-2 {
  text-align: center;
  font-size: 0.8em;
  padding-top: 10px;
}

.article-card {
  border: 1px dashed #f45b69ff;
  border-radius: 8px;
  text-align: left;
  padding: 10px;
  margin: 10px;
}

.article-card-image {
  display: flex;
  justify-content: center;
}

.article-card img {
  margin-top: 5px;
  min-width: 20em;
  max-height: 30em;
  max-width: 30em;
  border: 1px solid #028090ff;
  border-radius: 20px;
}

.article-text-smol {
  font-size: 0.8em;
  background-color: #456990ff;
  border-radius: 10px;
  padding: 5px 7px;
}

.article-text-title {
  font-size: 1em;
  font-weight: 600;
  line-height: 2.4;
  margin: 10px;
}

.article-text-author {
  font-size: 0.8em;
  font-style: italic;
}

.article-text-body {
  font-size: 0.9em;
}





.topic-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.topic-card {
  border: 1px dashed #f45b69ff;
  border-radius: 8px;
  text-align: left;
  padding: 10px;
  margin: 10px;
  max-width: 20em;
}

.topic-card h3 {
border-bottom: 1px solid #028090ff;
margin-bottom: 5px;
}

.center-loader {
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #114b5fff #028090ff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #e4fde1ff #456990ff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #f45b69ff #e4fde1ff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}